:root {
    --main-color: grey;
    --main-color-rgb: 128,128,128;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    place-items: start;
}

#app {
    max-width: 100%;
    width: 100%;
    grid-template-columns: none;
}

a,
p,
input,
textarea,
span,
div,
b {
    font: {
        size: 14px;
        weight: normal;
    }
}

img {
    display: block;
}